@import "../../vars.css";

.container {
  position: relative;
  padding: 38px;
  margin-top: 180px;
  z-index: 1;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.forCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text-dark);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  /* color: rgb(231, 231, 231); */
  font-size: 28px;
  font-weight: 750;
  text-transform: uppercase;
}

.secondTitle {
  /* color: rgb(231, 231, 231); */
  font-size: 20px;
  margin-top: -10px;
  text-transform: lowercase;
  transition: color 0.3s;
}
.secondTitle:hover{
  color: var(--color-hover);
}

.nameWrapper {
  display: flex;
  flex-direction: column;
}

.firstName {
  font-size: 88px;
  font-weight: bold;
}

.lastName {
  font-size: 96px;
  font-weight: bold;
  margin-top: -10px; 
}


.content {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6px;
  color: var(--color-text);
  transition: color 0.5s;
}
.content:hover{
  color: var(--color-hover);
}

.meImg {
  margin-left: 30px;
  width: 27%;
  border-radius: 20%;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.meImg:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column; 
    align-items: center; 
    margin-top: 100px;

  }
  .meImg{
    width:40%;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .forCol{
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 23px;
  }
  
  .secondTitle {
    font-size: 18px;
  }
  
  .firstName {
    font-size: 75px;
    font-weight: bold;
  }
  
  .lastName {
    font-size: 80px;
  }
}



