@import "./vars.css";

.App {
  background-color: var(--color-bg);
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    padding: 10px;
  }
}
